.comingSoon{
    height: 100vh;
    background-image: url(../../../../public/assets/img/comingsoon2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 700;}

